#recom{
	margin:0px 15px 0px 5px;
}

.logo span{
	color: #005FEF;
}

.mlg{
	color: #005FEF;
}

.teks_produk{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
}

.hidden{
	display: none;
}
